//media 
$desktop: 1999px;
$middle: 1199px;
$laptops: 991px;
$tablets: 767px;
$phones: 575px;
$small: 402px;
// colors

$grey: #747474;
$darkgrey: #505050;
$blue: #1473e6;
$yellow: #ffc617;
$yellowHover: rgb(178, 138, 16);
$white: #fff;
$input-border: #eaeaea;
$black: #333333;